/
  %p
    {{projects[0]}}
.row#header-row
  .col-md-8.col-md-offset-2
    %h1#main-header
      ToDoDoo

.row#button-row
  .col-md-6.col-md-offset-2
    %button.btn.btn-success{type: "button"}
      ADD TODO
  .col-md-2
    %button.btn.btn-default.pull-right{type: "button"}
      SIGN IN

%section.row{"ng-if": "projects"}
  .row-fluid.col-md-8.col-md-offset-2{"ng-repeat": "project in projects"}
    .nav.navbar.navbar-inverse.task-list-navbar
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: "#"}
            %span.glyphicon.glyphicon-calendar{"aria-hidden": true}
          %p.navbar-text
            {{project.title}}
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.edit-project
              %span.glyphicon.glyphicon-pencil{id: "{{project.id}}", "aria-label": "Edit"}
          %li
            %a.delete-project
              %span.glyphicon.glyphicon-trash{id: "{{project.id}}", "aria-label": "Delete"}
    #input-panel.panel.panel-default
      .input-group
        %span#green-plus.input-group-addon.glyphicon.glyphicon-plus{"aria-label": "Add"}
        %input.form-control{type: "text", placeholder: "Start typing here to create a task..."}
        %span.input-group-btn
          %button.btn.btn-success{type: "button"}
            Add Task
    %ul.list-group.task-list-group
      %li#task-list-group-item.list-group-item
        .row-fluid
          .task-list{"ng-repeat": "task in project.tasks"}
            .nav.navbar.task-list-navbar
              %ul.nav.navbar-nav
                %li.checkbox.checkbox-margined
                  %label
                    %input{type: "checkbox"}
              .col-md-8
                %p.li-text
                  {{task.title}}
              %ul.nav.navbar-nav.navbar-right
                %li.divider-vertical
                %li
                  %a.move-task.pull-right
                    %span.glyphicon.glyphicon-sort{id: "{{task.id}}", "aria-label": "Move"}
                %li.divider-vertical
                %li
                  %a.comment-task.pull-right
                    %span.glyphicon.glyphicon-comment{id: "{{task.id}}", "aria-label": "Comment"}
                %li.divider-vertical-short
                %li
                  %a.edit-task.pull-right
                    %span.glyphicon.glyphicon-pencil{id: "{{task.id}}", "aria-label": "Edit"}
                %li.divider-vertical-short
                %li
                  %a.delete-task.pull-right
                    %span.glyphicon.glyphicon-trash{id: "{{task.id}}", "aria-label": "Delete"}
            .row-fluid
              .comment-section{"ng-repeat": "comment in task.comments"}
                .media
                  .media-body
                    %p.media-heading
                      {{comment.text}}
                  .media-right
                    %a.edit-comment
                      %span.glyphicon.glyphicon-edit{id: "{{comment.id}}", "aria-label": "Edit"}