/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  background-color: transparent; 
  background: url("bg.jpg") no-repeat center center fixed;
}

.task-list-navbar {
  margin-bottom: 0px;
}

.list-group {
  padding-bottom: 50px;
}

#task-list-group-item {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#input-panel {
  margin-bottom: 0px;
  background-color:transparent !important;
  border:none !important;
}

#header-row {
  margin-bottom: 2%;
  margin-top: 5%;
  font-weight: bold;
  color: $gray-lighter;
}

h3 {
  color: $gray-lighter;
}


#button-row {
  margin-bottom: 2%;
}

#main-header {
  margin-top: 0;
}

.delete-task {
  margin-left: 5px;
}

#green-plus {
  color: $brand-success;
  top: 0px;
}

.divider-vertical, .divider-vertical-short, .divider-vertical-shorter{
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

.divider-vertical {
  height: 50px;
  margin: 0 9px;
}

.divider-vertical-short {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.divider-vertical-shorter {
  height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.comment-navbar {
  height: 30px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
      display: none;
   }
}

.checkbox-margined, .li-text  {
  margin-top: 14px;
}

.comment-section {
  margin-left: 30px;
}

.media {
  border-top: 1px solid white;
  padding-top: 5px;
  background-color: $gray-lighter;
  padding-left: 10px;
  padding-right: 5px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

