%section.row
  .row-fluid.col-md-8.col-md-offset-2
    .nav.navbar.navbar-inverse.task-list-navbar
      .container-fluid
        .navbar-left
          %input.form-control{type: "text", "ng-model": "project.title"}